body {
    font-family: monospace;
}

.frutas li {
    border-bottom: 2px dotted yellow;
    padding: 6px 4px;
}

.frutas li:last-child {
    border-bottom: none;
}

.verduras li {
    border-bottom: 2px dashed green;
    padding: 6px 4px;
}

.verduras li:last-child {
    border-bottom: none;
}

table {
    border-collapse: collapse;
    border: 2px solid red;
    width: auto;
}

th, td {
    border: 2px solid red;
    padding: 10px 8px;
    text-align: left;
}

th {
    background-color: white;
}